<nav role = "navigation">
  <ul>

    <li><a  (click) = "logout()" >Logout</a></li>
    <li><a [routerLink]="['../dashboard']">Dashboard</a></li>

  </ul>
<div >

    <span class="card-title">Add</span>
    <form (ngSubmit)="onSubmit()" >

          <label>Title</label>
          <input type="text" placeholder="Add Title" [(ngModel)]="march.title" name = "title">

        <div >

          <label>Value</label>
          <input type="text" placeholder="Add Value" [(ngModel)]="march.value" name = "value">

        </div>

        <input type="submit" value="Submit" class="btn">

    </form>

</div>
<app-march></app-march>
