
  <ul *ngFor="let j of march" class="collection">
    <li class="collection-j"><strong>{{j.title}}: </strong>{{j.value}} <a
      class="secondary-content">
      <button mat-button  (click)="editMarch($event, j)" mat-flat-button color="primary">Edit</button>
      <i *ngIf="editState && marToEdit.id == j.id" (click)="clearState()" class="fa fa-compress"></i>
    </a>

    <div *ngIf="editState && marToEdit.id == j.id">
      <form (ngSubmit)="updateMarch(j)">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" placeholder="Add Title" [(ngModel)]="j.title" name = "title">
          </div>
          <div class="input-field col s6">
            <input type="text" placeholder="Add Value" [(ngModel)]="j.value" name = "value">
          </div>
          <button mat-button (click)="updateMarch(j)" mat-flat-button color="primary">update</button>
          <button mat-button (click)="deleteMarch($event, j)" mat-flat-button color="primary">Delete</button>
        </div>
        </form>
    </div>
  </li>
  </ul>

  <div class="row">
    <div class="column">
    <canvas id="myChart" width="180" height="250"></canvas>
  </div>
  <div class="column">
    <canvas id="myChart1" width="180" height="250"></canvas>
  </div>
  <div class="column">
    <canvas id="myChart2"  width="180" height="250" chart-options="options"></canvas>
  </div>


<ng-template #noMarch>
  <hr>
  <h5>
    There are no items
  </h5>
</ng-template>
