div {
  align-content: center;
  padding: 10px;
  margin: 10px;
}
.center{
  color: #fff;
  font-size: 1em;

}
p {
  align-content: center;
  font-size: 3em;
}
button {
  padding: 10px;
  margin: 10px;

}
