<div *ngIf="!isSignedIn">
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" #emailSignup/>

    <label for="psw"><b>Password</b></label>
    <input type="password" #passwordSignup/>

    <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</div>
<app-dashboard *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-dashboard>
